extends layout

block content
    div(class="row")
        div(class="col-md-4 col-md-offset-4", id="signup-container")
            h2 Registrati per Giocare
            form(name="user-registration", action="/signup", method="POST")
                div(class="form-group")
                    label(for='username') Username
                    input#username(type="text", name="username", class="form-control")
                div(class="form-group")
                    label(for='password') Password
                    input#password(type="password", name="password", class="form-control")
                div(class="form-group")
                    label(for='player-name') Nome Giocatore
                    input#player-name(type="text", name="player-name", class="form-control")
                button(type="submit", class="btn btn-default") Registrati
            hr
            p Hai già un account ?&nbsp;
                a(href="/login") Login
            p Or go&nbsp;
                a(href="/") home