/* HOME PAGE */
body{
	background-image: url("/images/lambda.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center top;
}

/* GAME PAGE */
#game-lobby-page .page-title{
	text-align: center;
	border-bottom: 2px solid black;
	padding: 5px;
}

#game-lobby-page .lobby-actions{
	text-align: center;
}

/* FIELD PAGE */

#game-field-page .field-container{
	margin: 20px;
	border-collapse:separate;
	border: 2px solid black;
	border-radius: 5px;
}

.field-row{
	width: 100%;
	display: table;
}

.field-cell{
	display:table-cell;
	border: 2px solid black;
}

.fresh-square{
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 100%;
	background-image: url("/images/square.png");
}


/* LOGIN PAGE */
#login-container {
	padding: 10px;
}



