extends ../layout

mixin cell(visible, content)
    .field-cell
        if visible
            span=content
        else
            span(class="fresh-cell") &nbsp;

block content
    div(id = "game-field-page")
        div(class="row")
            div(class="col-md-12")
                table
                    each row in field
                        tr
                            each col in row
                                td
                                    +cell(false,col)

