extends ../layout

block content
    div(id="game-lobby-page")
        div(class="row")
            div(class="col-md-12")
                h2(class="page-title") Welcome to the Garden's Lobby
        div(class="row")
            div(class="col-md-12 lobby-actions")
                form#start-game(action="game/field" method="POST")
                    button(class="btn btn-success" id="start" type="submit") Start Game

block footer_scripts
