extends ../layout

block content
    div(id="game-lobby-page")
        div(class="row")
            div(class="col-md-12")
                h2(class="page-title") Welcome to the Garden's Lobby
        div(class="row")
            div(class="col-md-12 lobby-actions")
                button(class="btn btn-success" id="start" type="button") Start Game

block footer_scripts
    script.
        $("button[id=start]").click(function(e){
            e.preventDefault();
            console.log("click");
        });
